/* Write your CSS here */

.item-link {
  list-style-type: none;
}

.team-card-container {
  list-style-type: none;
  text-decoration: none;
  padding-left: 0px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff33;
  padding: 20px;
  margin: 10px;
}

.team-image {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.team-name {
  font-family: 'Bree Serif';
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  width: 150px;
}
